extends ../layouts/main-layout.pug
mixin createProduct(product)
    .col-md-4
        .card.my-3
            img(src=`/img/${product.image}` alt=`${product.description}`).card-img-top
            .card-body
                h4.card-title
                    a(href=`/products/${product.id}`) #{product.name}
                                
                small.text-muted
                    i.fas.fa-lira-sign #{product.price}
                            
            .card-footer.text-center                

                a(href=`/products/${product.id}`).btn.btn-outline-primary.btn-sm Details 

                a(href="#").btn.btn-outline-primary.btn-sm.ml-3 Add to Cart 
block content
      #mySlider.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='mySlide' data-slide-to='0')
          li(data-target='mySlide' data-slide-to='1')
          li(data-target='mySlide' data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img.d-block.img-fluid(src='/img/slider1.png' alt='')
          .carousel-item
            img.d-block.img-fluid(src='/img/slider2.png' alt='')
          .carousel-item
            img.d-block.img-fluid(src='/img/slider3.png' alt='')
        a.carousel-control-prev(href='#mySlider' data-slide='prev')
          span.carousel-control-prev-icon
        a.carousel-control-next(href='#mySlider' data-slide='next')
          span.carousel-control-next-icon
      
      .row
            each product in products
                +createProduct(product)
        
            